<ion-card>
  <ion-item>
      <h1 class="titulo">{{producto.nombre}} </h1>
  </ion-item>

  <ion-card-content>
    <ion-img class="img-producto" [src]="producto.foto"></ion-img>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="precio" size="6">
        <h1 class="precio">Precio: $ {{producto.precio}}</h1>
      </ion-col>

      <ion-col class="text-center" size="6">
        <ion-select placeholder="cantidad"
  [(ngModel)]="selectedOption"
  (ionChange)="ionChange()">
  <ion-select-option value= 1> 1</ion-select-option>
  <ion-select-option value= 2> 2</ion-select-option>
  <ion-select-option value= 3> 3</ion-select-option>
  <ion-select-option value= 4> 4 </ion-select-option>
  <ion-select-option value= 5> 5</ion-select-option>
  <ion-select-option value= 6> 6</ion-select-option>
  <ion-select-option value= 7> 7 </ion-select-option>
  <ion-select-option value= 8> 8 </ion-select-option>
  <ion-select-option value= 1>9 </ion-select-option>
 </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
    <!-- <h1 class="precio">Precio: $ {{producto.precio}}</h1> -->
      <ion-button size="small" fill="outline" color="success" href="https://wa.me/522711873715?text=Me%20gustaria%20ordenar%20lo%20siguiente%20:%20{{cantidad}}%20{{producto.nombre}}">comprar por whatsapp</ion-button> 


  </ion-card-content>
</ion-card>