<ion-header>
  <ion-toolbar>
          <ion-title ion-title class="titulo ion-text-wrap">
           Carta  
          </ion-title>

          <ion-buttons slot="start">
              <ion-button (click)="openMenu()">
                  <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
              </ion-button>
              <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
          </ion-buttons>
        
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" name="book-outline"></ion-icon>
          </ion-button>
        </ion-buttons>      
    
  </ion-toolbar>
</ion-header>


<ion-content> 
  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/home']">
        bebidas
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/postres']">
    postres
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/bebidas']">
    hamburguesas
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/quesadillas']">
    Quesadillas
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/antojitos']">
    Antojitos
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/snacks']">
    Snacks
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/ensaladas']">
    Ensaladas
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/frappes']">
    Frappes
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/tes']">
    Tes
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/malteadas']">
    Malteadas
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/licuados']">
    Licuados
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/crepas']">
    crepas saladas
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/waffles']">
    Crepas Dulces o waffles
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/helados']">
    Helados
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/']">
    Hotdogs
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/']">
    Desayunos
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="redondo">
    <div class="asd">
      <ion-card-content [routerLink]="['/']">
    Huevos al gusto
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
