<ion-header>
  <ion-toolbar>
          <ion-title class="titulo ion-text-wrap">
           Configuracion de productos
          </ion-title>
          <ion-buttons slot="start">
              <ion-button (click)="openMenu()">
                  <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
              </ion-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align:end; margin: 10px;">
      <ion-button (click)="nuevo()" style="margin: 10px;" color="dark" >bebidas </ion-button>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col class="normal text-center" size="4">
          <ion-button (click)="nuevoPostres()" size="small" color="dark" >postres</ion-button>
        </ion-col>
        <ion-col class="normal text-center" size="4">
          <ion-button (click)="nuevoBebidas()" size="small" color="dark" (click)="path = 'hamburguesas' ">hamburguesas</ion-button>
        </ion-col>
        <ion-col class="normal text-center" size="4">
          <ion-button (click)="nuevoQuesadillas()" size="small" color="dark" >Quesadillas</ion-button>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="normal text-center" size="4">
        <ion-button (click)="nuevoAntojitos()" size="small" color="dark" >Antojitos</ion-button>
      </ion-col>
      <ion-col class="normal text-center" size="4">
        <ion-button (click)="nuevoSnacks()" size="small" color="dark" >snacks</ion-button>
      </ion-col>
      <ion-col class="normal text-center" size="4">
        <ion-button (click)="nuevoEnsaladas()" size="small" color="dark" >Ensaladas</ion-button>
      </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="normal text-center" size="4">
      <ion-button (click)="nuevoFrappes()" size="small" color="dark" >Frappes</ion-button>
    </ion-col>
    <ion-col class="normal text-center" size="4">
      <ion-button (click)="nuevoTes()" size="small" color="dark" >Tes</ion-button>
    </ion-col>
    <ion-col class="normal text-center" size="4">
      <ion-button (click)="nuevoMalteadas()" size="small" color="dark" >Malteadas</ion-button>
    </ion-col>
</ion-row>

<ion-row class="ion-justify-content-center">
    <ion-col class="normal text-center" size="4">
      <ion-button (click)="nuevoLicuados()" size="small" color="dark" >Licuados</ion-button>
    </ion-col>
    <ion-col class="normal text-center" size="4">
      <ion-button (click)="nuevoCrepas()" size="small" color="dark" >Crepas</ion-button>
    </ion-col>
    <ion-col class="normal text-center" size="4">
      <ion-button (click)="nuevoWaffles()" size="small" color="dark" >Waffles</ion-button>
    </ion-col>
</ion-row>
  </ion-grid>

  <div *ngIf="enableNewProductos">
        
    <h3 class="subtitulo encabezado">Ingrese datos del producto</h3>

  <ion-item>
      <ion-label class="normal" position="floating">
              Nombre:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.nombre" class="normal" type="text" inputmode="text" required="true">
      </ion-input>
  </ion-item>

  <ion-item>
      <ion-label class="normal" position="floating">
              Precio:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.precio" class="normal" type="number" inputmode="numeric" required="true">
      </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal">
      foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
  <label for="file-upload">
    <ion-icon slot="icon-only" name="images"></ion-icon>
  </label>
   <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>
  
  </ion-item>
  
  <ion-item>
    <img class="image" [src]="newProducto.foto">
  </ion-item>

    <ion-item>
      <ion-buttons slot="end">
          <ion-label class="normal"> Cancelar </ion-label>
        <ion-button (click)="enableNewProductos = false">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-label  class="normal"> Guardar producto</ion-label>
         <ion-button (click)="guardarProducto() ">
          <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-item>

    <h3 class="subtitulo encabezado">lista de productos</h3>

    <ion-item *ngFor="let producto of productos ">
      <ion-label class="normal">{{producto.nombre}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="newProducto = producto; enableNewProductos=true;">
          <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
  
          <ion-button (click)="deleteProducto(producto)" >
              <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-item>

</div>

  <!-- <h3 class="subtitulo encabezado">lista de productos</h3>

  <ion-item *ngFor="let producto of productos ">
    <ion-label class="normal">{{producto.nombre}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="newProducto = producto; enableNewProductos=true;">
        <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>

        <ion-button (click)="deleteProducto(producto)" >
            <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-item> -->

<!-- postres -->

<div *ngIf="enableNewPostres">
        
  <h3 class="subtitulo encabezado">Ingrese datos del postre</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newPostres.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newPostres.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadPostres($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newPostres.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewPostres = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar postre</ion-label>
       <ion-button (click)="guardarPostres() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de postres</h3>

<ion-item *ngFor="let postres of postres ">
  <ion-label class="normal">{{postres.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newPostres = postres; enableNewPostres=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deletePostres(postres)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- bebidas -->

<div *ngIf="enableNewBebidas">
        
  <h3 class="subtitulo encabezado">Ingrese datos dela hamburguesa</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newBebidas.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newBebidas.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadBebidas($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newBebidas.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewBebidas = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar postre</ion-label>
       <ion-button (click)="guardarBebidas() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de hamburguesas</h3>

<ion-item *ngFor="let bebidas of bebidas ">
  <ion-label class="normal">{{bebidas.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newBebidas = bebidas; enableNewBebidas=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteBebidas(bebidas)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- quesadillas -->

<div *ngIf="enableNewQuesadillas">
        
  <h3 class="subtitulo encabezado">Ingrese datos dela quesadilla</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newQuesadillas.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newQuesadillas.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadQuesadillas($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newQuesadillas.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewQuesadillas = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar quesadilla</ion-label>
       <ion-button (click)="guardarQuesadillas() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de quesadillas</h3>

<ion-item *ngFor="let quesadillas of quesadillas ">
  <ion-label class="normal">{{quesadillas.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newQuesadillas = quesadillas; enableNewQuesadillas=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteQuesadillas(quesadillas)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- antojitos -->

<div *ngIf="enableNewAntojitos">
        
  <h3 class="subtitulo encabezado">Ingrese datos del antojito</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newAntojitos.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newAntojitos.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadAntojitos($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newAntojitos.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewAntojitos = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar antojito</ion-label>
       <ion-button (click)="guardarAntojitos() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de antojitos</h3>

<ion-item *ngFor="let antojitos of antojitos ">
  <ion-label class="normal">{{antojitos.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newAntojitos = antojitos; enableNewAntojitos=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteAntojitos(antojitos)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- snacks -->

<div *ngIf="enableNewSnacks">
        
  <h3 class="subtitulo encabezado">Ingrese datos del snack</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newSnacks.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newSnacks.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadSnacks($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newSnacks.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewSnacks = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar snack</ion-label>
       <ion-button (click)="guardarSnacks() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de snacks</h3>

<ion-item *ngFor="let snacks of snacks ">
  <ion-label class="normal">{{snacks.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newSnacks = snacks; enableNewSnacks=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteSnacks(snacks)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- ensaladas -->

<div *ngIf="enableNewEnsaladas">
        
  <h3 class="subtitulo encabezado">Ingrese datos dela ensalada</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newEnsaladas.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newEnsaladas.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadEnsaladas($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newEnsaladas.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewEnsaladas = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar snack</ion-label>
       <ion-button (click)="guardarEnsaladas() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de ensaladas</h3>

<ion-item *ngFor="let ensaladas of ensaladas ">
  <ion-label class="normal">{{ensaladas.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newEnsaladas = ensaladas; enableNewEnsaladas=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteEnsaladas(ensaladas)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- frappes -->

<div *ngIf="enableNewFrappes">
        
  <h3 class="subtitulo encabezado">Ingrese datos del Frappe</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newFrappes.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newFrappes.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadFrappes($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newFrappes.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewFrappes = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar snack</ion-label>
       <ion-button (click)="guardarFrappes() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de frappes</h3>

<ion-item *ngFor="let frappes of frappes">
  <ion-label class="normal">{{frappes.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newFrappes = frappes; enableNewFrappes=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteFrappes(frappes)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- tes -->

<div *ngIf="enableNewTes">
        
  <h3 class="subtitulo encabezado">Ingrese datos del te</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newTes.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newTes.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadTes($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newTes.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewTes = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar snack</ion-label>
       <ion-button (click)="guardarTes() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de Tes</h3>

<ion-item *ngFor="let tes of tes">
  <ion-label class="normal">{{tes.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newTes = tes; enableNewTes=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteTes(tes)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- malteadas -->
<div *ngIf="enableNewMalteadas">
   
  <h3 class="subtitulo encabezado">Ingrese datos del malteadas</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newMalteadas.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newMalteadas.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadMalteadas($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newMalteadas.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewMalteadas = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar malteada</ion-label>
       <ion-button (click)="guardarMalteadas() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de Malteadas</h3>

<ion-item *ngFor="let malteadas of malteadas">
  <ion-label class="normal">{{malteadas.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newMalteadas = malteadas; enableNewMalteadas=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteMalteadas(malteadas)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- licuados -->

<div *ngIf="enableNewLicuados">
   
  <h3 class="subtitulo encabezado">Ingrese datos del Licuado</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newLicuados.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newLicuados.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadLicuados($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newLicuados.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewLicuados = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar malteada</ion-label>
       <ion-button (click)="guardarLicuados() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de Licuados</h3>

<ion-item *ngFor="let licuados of licuados">
  <ion-label class="normal">{{licuados.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newLicuados = licuados; enableNewLicuados=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteLicuados(licuados)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- crepas -->

<div *ngIf="enableNewCrepas">
   
  <h3 class="subtitulo encabezado">Ingrese datos dela crepa</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newCrepas.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newCrepas.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadCrepas($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newCrepas.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewCrepas = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar malteada</ion-label>
       <ion-button (click)="guardarCrepas() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de Crepas</h3>

<ion-item *ngFor="let crepas of crepas">
  <ion-label class="normal">{{crepas.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newCrepas = crepas; enableNewCrepas=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteCrepas(crepas)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

<!-- waffles -->

<div *ngIf="enableNewWaffles">
   
  <h3 class="subtitulo encabezado">Ingrese datos del Waffle</h3>

<ion-item>
    <ion-label class="normal" position="floating">
            Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newWaffles.nombre" class="normal" type="text" inputmode="text" required="true">
    </ion-input>
</ion-item>

<ion-item>
    <ion-label class="normal" position="floating">
            Precio:
    </ion-label>
    <ion-input [(ngModel)]="newWaffles.precio" class="normal" type="number" inputmode="numeric" required="true">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label class="normal">
    foto
</ion-label>
<ion-buttons slot="end">
<ion-button>
<label for="file-upload">
  <ion-icon slot="icon-only" name="images"></ion-icon>
</label>
 <input (change)="newImageUploadWaffles($event)" id="file-upload" style="display: none" type="file"  accept="image/*" required="true">
</ion-button>
</ion-buttons>

</ion-item>

<ion-item>
  <img class="image" [src]="newWaffles.foto">
</ion-item>

  <ion-item>
    <ion-buttons slot="end">
        <ion-label class="normal"> Cancelar </ion-label>
      <ion-button (click)="enableNewWaffles = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-label  class="normal"> Guardar malteada</ion-label>
       <ion-button (click)="guardarWaffles() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">lista de Waffles</h3>

<ion-item *ngFor="let waffles of waffles">
  <ion-label class="normal">{{waffles.nombre}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newWaffles = waffles; enableNewWaffles=true;">
      <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>

      <ion-button (click)="deleteWaffles(waffles)" >
          <ion-icon  slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-item>

</div>

</ion-content>