/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// import de fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&family=Raleway:ital,wght@0,100;0,400;0,600;1,100&display=swap');

.titulo{
    font-family: 'Mulish', sans-serif !important;
    // font-family: 'Raleway', sans-serif;
    font-size: 25 !important;
    font-weight: bold !important;
    // color: rgb(216, 100, 22) !important;
    //  color: rgb(50, 172, 8) !important;
    color: rgb(246, 121, 40) !important;
}

.subtitulo{
    font-family: 'Mulish', sans-serif !important;
    // font-family: 'Raleway', sans-serif;
    font-size: 18 !important;
    font-weight: bold !important;
}

.normal{
    font-family: 'Mulish', sans-serif !important;
    // font-family: 'Raleway', sans-serif;
    font-size: 12 !important;
    color: black !important;
}

.encabezado{
    margin: 10px;
    padding: 10px;
    border: 5px solid #f87d0a;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #f87d0a;
}

.i{
    font-family: 'Mulish', sans-serif !important;
    // font-family: 'Raleway', sans-serif;
    font-size: 8 !important;
    color: black !important;
}

.redondo{
    background-color: #f87d0a;
    border-radius: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-family: 'Mulish', sans-serif !important;
}
