<ion-header>
  <ion-toolbar>
          <ion-title class="titulo ion-text-wrap">
           Quesadillas
          </ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="salirDeCarrit()" >
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let quesadillas of quesadillas">
    <app-producto [producto]= quesadillas></app-producto>
  </div>

</ion-content>